In [1]:
import pandas as pd
import pandas as pd
import numpy as np
import requests
import json
from datetime import datetime as dt

df_confirmed = pd.read_csv('./csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Confirmed.csv')

df_tMax = pd.read_csv('./csv/tMax.csv')

In [2]:
df_confirmed.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/14/20,3/15/20,3/16/20,3/17/20,3/18/20,3/19/20,3/20/20,3/21/20,3/22/20,3/23/20
0,NaN,Thailand,15.0000,101.0000,2,3,5,7,8,8,...,82,114,147,177,212,272,322,411,599,599.0
1,NaN,Japan,36.0000,138.0000,2,1,2,2,4,4,...,773,839,825,878,889,924,963,1007,1086,1086.0
2,NaN,Singapore,1.2833,103.8333,0,1,3,3,4,5,...,212,226,243,266,313,345,385,432,455,455.0
3,NaN,Nepal,28.1667,84.2500,0,0,0,1,1,1,...,1,1,1,1,1,1,1,1,2,2.0
4,NaN,Malaysia,2.5000,112.5000,0,0,0,3,4,4,...,238,428,566,673,790,900,1030,1183,1306,1306.0

In [3]:
# Adding the rest of the beginning of January to the confirmed dataframe

for q in range(1, 22):
    day_str = str(q)
    date_str = '1/' + day_str + '/20'
    df_confirmed[date_str] = 0    

df_confirmed.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,1/12/20,1/13/20,1/14/20,1/15/20,1/16/20,1/17/20,1/18/20,1/19/20,1/20/20,1/21/20
0,NaN,Thailand,15.0000,101.0000,2,3,5,7,8,8,...,0,0,0,0,0,0,0,0,0,0
1,NaN,Japan,36.0000,138.0000,2,1,2,2,4,4,...,0,0,0,0,0,0,0,0,0,0
2,NaN,Singapore,1.2833,103.8333,0,1,3,3,4,5,...,0,0,0,0,0,0,0,0,0,0
3,NaN,Nepal,28.1667,84.2500,0,0,0,1,1,1,...,0,0,0,0,0,0,0,0,0,0
4,NaN,Malaysia,2.5000,112.5000,0,0,0,3,4,4,...,0,0,0,0,0,0,0,0,0,0

In [4]:
# Rearranging date columns to be in chronological order

ordered_columns = ['Province/State', 'Country/Region', 'Lat', 'Long', '1/1/20',
                  '1/2/20', '1/3/20', '1/4/20', '1/5/20', '1/6/20',
                  '1/7/20', '1/8/20', '1/9/20', '1/10/20', '1/11/20',
                  '1/12/20', '1/13/20', '1/14/20', '1/15/20', '1/16/20',
                  '1/17/20', '1/18/20', '1/19/20', '1/20/20', '1/21/20',
                  '1/22/20', '1/23/20', '1/24/20', '1/25/20', '1/26/20',
                  '1/27/20', '1/28/20', '1/29/20', '1/30/20', '1/31/20',
                  '2/1/20', '2/2/20', '2/3/20', '2/4/20', '2/5/20',
                  '2/6/20', '2/7/20', '2/8/20', '2/9/20', '2/10/20',
                  '2/11/20', '2/12/20', '2/13/20', '2/14/20', '2/15/20',
                  '2/16/20', '2/17/20', '2/18/20', '2/19/20', '2/20/20',
                  '2/21/20', '2/22/20', '2/23/20', '2/24/20', '2/25/20',
                  '2/26/20', '2/27/20', '2/28/20', '2/29/20', '3/1/20',
                  '3/2/20', '3/3/20', '3/4/20', '3/5/20', '3/6/20',
                  '3/7/20', '3/8/20', '3/9/20', '3/10/20', '3/11/20',
                  '3/12/20', '3/13/20', '3/14/20', '3/15/20', '3/16/20',
                  '3/17/20', '3/18/20', '3/19/20', '3/20/20', '3/21/20',
                  '3/22/20', '3/23/20']

df_confirmed = df_confirmed[ordered_columns]

df_confirmed.head()

,Province/State,Country/Region,Lat,Long,1/1/20,1/2/20,1/3/20,1/4/20,1/5/20,1/6/20,...,3/14/20,3/15/20,3/16/20,3/17/20,3/18/20,3/19/20,3/20/20,3/21/20,3/22/20,3/23/20
0,NaN,Thailand,15.0000,101.0000,0,0,0,0,0,0,...,82,114,147,177,212,272,322,411,599,599.0
1,NaN,Japan,36.0000,138.0000,0,0,0,0,0,0,...,773,839,825,878,889,924,963,1007,1086,1086.0
2,NaN,Singapore,1.2833,103.8333,0,0,0,0,0,0,...,212,226,243,266,313,345,385,432,455,455.0
3,NaN,Nepal,28.1667,84.2500,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,2,2.0
4,NaN,Malaysia,2.5000,112.5000,0,0,0,0,0,0,...,238,428,566,673,790,900,1030,1183,1306,1306.0

In [12]:
df_temp = df_confirmed.copy()

do_not_include = ['Province/State', 'Country/Region', 'Lat', 'Long']

for x in df_temp.columns.values:
    if (x not in do_not_include):
        for y in range(df_temp['1/22/20'].values.size):
            df_temp.at[y, x] = 555000555
            

            
df_temp.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/2/20,3/3/20,3/4/20,3/5/20,3/6/20,3/7/20,3/8/20,3/9/20,3/10/20,3/11/20
0,NaN,Thailand,15.0000,101.0000,555000555,555000555,555000555,555000555,555000555,555000555,...,555000555,555000555,555000555,555000555,555000555,555000555,555000555,555000555,555000555,555000555
1,NaN,Japan,36.0000,138.0000,555000555,555000555,555000555,555000555,555000555,555000555,...,555000555,555000555,555000555,555000555,555000555,555000555,555000555,555000555,555000555,555000555
2,NaN,Singapore,1.2833,103.8333,555000555,555000555,555000555,555000555,555000555,555000555,...,555000555,555000555,555000555,555000555,555000555,555000555,555000555,555000555,555000555,555000555
3,NaN,Nepal,28.1667,84.2500,555000555,555000555,555000555,555000555,555000555,555000555,...,555000555,555000555,555000555,555000555,555000555,555000555,555000555,555000555,555000555,555000555
4,NaN,Malaysia,2.5000,112.5000,555000555,555000555,555000555,555000555,555000555,555000555,...,555000555,555000555,555000555,555000555,555000555,555000555,555000555,555000555,555000555,555000555

In [39]:
do_not_include = ['Province/State', 'Country/Region', 'Lat', 'Long']

new_columns = df_confirmed.columns.values

for x in range(4):
    new_columns = np.delete(new_columns, 0)

new_columns

array(['1/22/20', '1/23/20', '1/24/20', '1/25/20', '1/26/20', '1/27/20',
       '1/28/20', '1/29/20', '1/30/20', '1/31/20', '2/1/20', '2/2/20',
       '2/3/20', '2/4/20', '2/5/20', '2/6/20', '2/7/20', '2/8/20',
       '2/9/20', '2/10/20', '2/11/20', '2/12/20', '2/13/20', '2/14/20',
       '2/15/20', '2/16/20', '2/17/20', '2/18/20', '2/19/20', '2/20/20',
       '2/21/20', '2/22/20', '2/23/20', '2/24/20', '2/25/20', '2/26/20',
       '2/27/20', '2/28/20', '2/29/20', '3/1/20', '3/2/20', '3/3/20',
       '3/4/20', '3/5/20', '3/6/20', '3/7/20', '3/8/20', '3/9/20',
       '3/10/20', '3/11/20'], dtype=object)

In [42]:
for x in range(new_columns.size):
    new_columns[x] = new_columns[x] + '20'

new_columns

array(['1/22/2020', '1/23/2020', '1/24/2020', '1/25/2020', '1/26/2020',
       '1/27/2020', '1/28/2020', '1/29/2020', '1/30/2020', '1/31/2020',
       '2/1/2020', '2/2/2020', '2/3/2020', '2/4/2020', '2/5/2020',
       '2/6/2020', '2/7/2020', '2/8/2020', '2/9/2020', '2/10/2020',
       '2/11/2020', '2/12/2020', '2/13/2020', '2/14/2020', '2/15/2020',
       '2/16/2020', '2/17/2020', '2/18/2020', '2/19/2020', '2/20/2020',
       '2/21/2020', '2/22/2020', '2/23/2020', '2/24/2020', '2/25/2020',
       '2/26/2020', '2/27/2020', '2/28/2020', '2/29/2020', '3/1/2020',
       '3/2/2020', '3/3/2020', '3/4/2020', '3/5/2020', '3/6/2020',
       '3/7/2020', '3/8/2020', '3/9/2020', '3/10/2020', '3/11/2020'],
      dtype=object)

In [43]:
do_not_include = ['Province/State', 'Country/Region', 'Lat', 'Long']

old_columns = df_tMax.columns.values

for x in range(4):
    old_columns = np.delete(old_columns, 0)
    
old_columns

array(['1/1/2020', '1/2/2020', '1/3/2020', '1/4/2020', '1/5/2020',
       '1/6/2020', '1/7/2020', '1/8/2020', '1/9/2020', '1/10/2020',
       '1/11/2020', '1/12/2020', '1/13/2020', '1/14/2020', '1/15/2020',
       '1/16/2020', '1/17/2020', '1/18/2020', '1/19/2020', '1/20/2020',
       '1/21/2020', '1/22/2020', '1/23/2020', '1/24/2020', '1/25/2020',
       '1/26/2020', '1/27/2020', '1/28/2020', '1/29/2020', '1/30/2020',
       '1/31/2020', '2/1/2020', '2/2/2020', '2/3/2020', '2/4/2020',
       '2/5/2020', '2/6/2020', '2/7/2020', '2/8/2020', '2/9/2020',
       '2/10/2020', '2/11/2020', '2/12/2020', '2/13/2020', '2/14/2020',
       '2/15/2020', '2/16/2020', '2/17/2020', '2/18/2020', '2/19/2020',
       '2/20/2020', '2/21/2020', '2/22/2020', '2/23/2020', '2/24/2020',
       '2/25/2020', '2/26/2020', '2/27/2020', '2/28/2020', '2/29/2020',
       '3/1/2020', '3/2/2020', '3/3/2020', '3/4/2020', '3/5/2020',
       '3/6/2020', '3/7/2020', '3/8/2020', '3/9/2020', '3/10/2020'],
      dtype=object)

In [44]:
cols = []

for x in new_columns:
    
    in_list = False
    
    for y in old_columns:
        
        if x == y:
            in_list = True
    
    if in_list == False:
        cols.append(x)

cols

['3/11/2020']

In [45]:
for x in cols:
    df_tMax[x] = 0

df_tMax

,Province/State,Country/Region,Lat,Long,1/1/2020,1/2/2020,1/3/2020,1/4/2020,1/5/2020,1/6/2020,...,3/2/2020,3/3/2020,3/4/2020,3/5/2020,3/6/2020,3/7/2020,3/8/2020,3/9/2020,3/10/2020,3/11/2020
0,Anhui,Mainland China,31.82570,117.2264,6,9,8,9,11,9,...,12,14,15,15,15,19,15,11,15,0
1,Beijing,Mainland China,40.18240,116.4142,-1,2,5,7,3,4,...,11,8,9,12,13,17,9,13,13,0
2,Chongqing,Mainland China,30.05720,107.8740,13,13,15,12,12,11,...,12,12,14,16,15,19,17,13,18,0
3,Fujian,Mainland China,26.07890,117.9874,15,19,18,20,20,22,...,17,19,13,13,19,20,20,18,15,0
4,Gansu,Mainland China,36.06110,103.8343,5,3,7,6,5,2,...,11,13,16,14,15,19,8,7,13,0
5,Guangdong,Mainland China,23.34170,113.4244,23,22,25,26,24,25,...,25,25,17,21,22,24,25,26,23,0
6,Guangxi,Mainland China,23.82980,108.7881,21,22,23,23,25,26,...,20,16,11,15,20,25,27,26,20,0
7,Guizhou,Mainland China,26.81540,106.8748,16,13,7,11,17,15,...,11,7,9,12,16,16,22,15,11,0
8,Hainan,Mainland China,19.19590,109.7453,20,21,22,21,22,25,...,27,27,25,18,24,30,32,33,24,0
9,Hebei,Mainland China,38.04280,114.5149,1,3,7,8,0,4,...,16,11,9,15,18,18,15,14,16,0
10,Heilongjiang,Mainland China,47.86200,127.7615,-18,-16,-15,-12,-13,-8,...,-1,-1,-1,-3,0,0,0,-1,0,0
11,Henan,Mainland China,33.88202,113.6140,6,7,12,13,5,3,...,13,15,15,17,18,21,17,13,18,0
12,Hubei,Mainland China,30.97560,112.2707,5,10,9,12,8,3,...,8,15,17,16,17,21,15,13,19,0
13,Hunan,Mainland China,27.61040,111.7088,10,7,8,10,17,16,...,10,7,10,11,13,13,17,13,17,0
14,Inner Mongolia,Mainland China,44.09350,113.9448,-12,-11,-9,-9,-3,-9,...,0,-5,-2,7,3,8,1,-1,0,0
15,Jiangsu,Mainland China,32.97110,119.4550,7,8,10,10,8,10,...,12,13,13,13,15,18,19,11,14,0
16,Jiangxi,Mainland China,27.61400,115.7221,15,16,13,13,21,25,...,17,10,12,15,16,16,23,18,17,0
17,Jilin,Mainland China,43.66610,126.1923,-12,-9,-8,-9,-4,-2,...,-4,-2,-4,-2,1,1,3,0,0,0
18,Liaoning,Mainland China,41.29560,122.6085,-7,-6,-2,-2,-1,1,...,5,5,1,6,11,7,10,4,6,0
19,Ningxia,Mainland China,37.26920,106.1655,5,2,5,6,0,-2,...,10,12,15,16,12,19,7,5,11,0
20,Qinghai,Mainland China,35.74520,95.9956,-6,-6,-7,-7,-9,-13,...,-6,-7,-5,-4,-2,0,-6,-8,-5,0
21,Shaanxi,Mainland China,35.19170,108.8701,5,6,7,5,2,3,...,9,10,14,11,16,16,13,11,13,0
22,Shandong,Mainland China,36.34270,118.1498,2,5,6,8,2,3,...,7,7,4,9,11,13,13,8,9,0
23,Shanghai,Mainland China,31.20200,121.4491,11,12,10,9,13,20,...,12,13,12,11,13,17,16,13,13,0
24,Shanxi,Mainland China,37.57770,112.2922,3,5,7,7,0,4,...,14,9,11,14,18,17,13,13,12,0
25,Sichuan,Mainland China,30.61710,102.7103,9,9,7,5,6,3,...,5,2,5,7,10,11,13,2,4,0
26,Tianjin,Mainland China,39.30540,117.3230,0,2,5,7,4,4,...,11,9,7,12,16,16,13,10,11,0
27,Tibet,Mainland China,31.69270,88.0924,-5,-6,-4,-7,-11,-4,...,-1,-3,-1,-1,0,1,0,0,1,0
28,Xinjiang,Mainland China,41.11290,85.2401,2,0,0,0,0,0,...,13,15,16,16,15,13,8,9,10,0
29,Yunnan,Mainland China,24.97400,101.4870,19,19,20,12,12,15,...,23,21,20,20,20,22,22,23,23,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
317,"Fayette, GA",US,33.45020,-84.4803,14,14,9,19,13,12,...,18,14,19,14,11,14,14,17,21,0
318,"Gregg, TX",US,32.48930,-94.8521,13,12,14,14,15,22,...,20,23,22,13,22,19,17,21,18,0
319,"Monmouth, NJ",US,40.25890,-74.1240,7,4,10,9,11,5,...,6,15,13,13,10,7,8,14,21,0
320,"Burlington, NJ",US,40.07120,-74.8649,8,4,9,9,11,5,...,7,17,14,13,11,6,8,14,21,0
321,"Camden, NJ",US,39.92590,-75.1196,8,5,9,9,11,5,...,7,17,15,15,11,6,8,15,22,0
322,"Passaic, NJ",US,40.85680,-74.1285,7,4,9,9,10,6,...,7,16,15,13,12,8,9,16,23,0
323,"Union, NJ",US,40.69760,-74.2632,6,4,9,9,10,6,...,7,17,14,13,12,8,9,16,22,0
324,"Eagle, CO",US,39.65530,-106.8287,-2,0,0,0,4,3,...,7,4,7,8,9,10,11,11,8,0
325,"Larimer, CO",US,40.69560,-105.5943,0,0,0,0,7,3,...,2,1,5,8,8,12,11,10,7,0
326,"Arapahoe, CO",US,39.62030,-104.3326,7,10,5,7,14,6,...,9,9,14,16,11,18,20,19,14,0
327,"Gunnison, CO",US,38.54580,-106.9253,-5,-9,-2,-4,-5,0,...,4,3,3,4,6,7,8,7,8,0
328,"Kane, IL",US,41.98790,-88.4016,-1,4,8,2,0,5,...,13,8,8,8,10,5,10,17,12,0
329,"Monroe, PA",US,41.04580,-75.2479,6,2,7,6,10,3,...,6,15,12,11,11,6,7,15,20,0
330,"Philadelphia, PA",US,39.95260,-75.1652,8,5,9,9,12,5,...,7,18,14,14,11,6,8,15,22,0
331,"Norfolk, VA",US,36.85080,-76.2859,14,12,15,15,16,9,...,11,19,20,18,10,10,10,15,21,0
332,"Arlington, VA",US,38.88160,-77.0910,11,10,11,11,15,5,...,10,18,17,17,12,10,10,16,22,0
333,"Spotsylvania, VA",US,38.20420,-77.6078,12,11,14,13,16,8,...,12,19,18,18,15,12,11,17,23,0
334,"Loudoun, VA",US,39.07680,-77.6536,10,8,10,12,13,5,...,10,17,16,17,12,9,10,16,22,0
335,"Prince George, MD",US,38.78490,-76.8721,11,9,12,12,15,5,...,9,18,17,17,13,10,10,16,22,0
336,"Pottawattamie, IA",US,41.39120,-95.4778,1,6,4,3,3,6,...,14,9,13,15,9,10,19,22,5,0
337,"Camden, SC",US,34.24650,-80.6070,16,15,13,24,19,14,...,16,21,20,15,11,15,14,18,22,0
338,"Pima, AZ",US,32.05750,-111.6661,15,16,14,14,18,21,...,19,15,17,20,26,26,24,20,24,0
339,"Noble, IN",US,41.42770,-85.3550,-1,3,8,5,2,5,...,7,8,9,7,11,4,7,15,17,0
340,"Adams, IN",US,39.85220,-77.2865,9,7,9,11,13,3,...,9,17,14,16,13,9,10,17,22,0
341,"Boone, IN",US,40.01060,-86.4997,1,7,10,7,1,7,...,12,10,11,11,13,3,9,16,17,0
342,"Dane, WI",US,43.01860,-89.5498,-1,3,7,1,-1,4,...,10,4,5,5,6,3,10,15,9,0
343,"Pierce, WI",US,44.75090,-92.3814,-4,0,1,1,-1,2,...,6,1,4,3,3,1,8,12,3,0
344,"Cuyahoga, OH",US,41.43390,-81.6758,2,3,9,8,3,2,...,8,9,11,6,10,3,4,15,18,0
345,"Weber, UT",US,41.26030,-111.9522,-2,2,2,4,4,1,...,4,4,7,12,17,19,17,12,11,0
346,"Wilton, CT",US,41.19540,-73.4379,6,4,9,8,8,4,...,5,13,13,12,11,7,7,13,20,0

In [51]:
df_old_locations = df_tMax[['Province/State', 'Country/Region', 'Lat', 'Long']].copy()

df_old_locations.head()

  Province/State  Country/Region      Lat      Long
0          Anhui  Mainland China  31.8257  117.2264
1        Beijing  Mainland China  40.1824  116.4142
2      Chongqing  Mainland China  30.0572  107.8740
3         Fujian  Mainland China  26.0789  117.9874
4          Gansu  Mainland China  36.0611  103.8343

In [55]:
df_new_locations = df_confirmed[['Province/State', 'Country/Region', 'Lat', 'Long']].copy()

df_new_locations.head()

  Province/State Country/Region      Lat      Long
0            NaN       Thailand  15.0000  101.0000
1            NaN          Japan  36.0000  138.0000
2            NaN      Singapore   1.2833  103.8333
3            NaN          Nepal  28.1667   84.2500
4            NaN       Malaysia   2.5000  112.5000

In [60]:
#df_old_locations[~.isin(df_new_locations)]

df_new_locations[~df_new_locations.isin(df_old_locations)]

            Province/State        Country/Region      Lat      Long
0                      NaN              Thailand  15.0000  101.0000
1                      NaN                 Japan  36.0000  138.0000
2                      NaN             Singapore   1.2833  103.8333
3                      NaN                 Nepal  28.1667   84.2500
4                      NaN              Malaysia   2.5000  112.5000
5         British Columbia                Canada  49.2827 -123.1207
6          New South Wales             Australia -33.8688  151.2093
7                 Victoria             Australia -37.8136  144.9631
8               Queensland             Australia -28.0167  153.4000
9                      NaN              Cambodia  11.5500  104.9167
10                     NaN             Sri Lanka   7.0000   81.0000
11                     NaN               Germany  51.0000    9.0000
12                     NaN               Finland  64.0000   26.0000
13                     NaN  United Arab Emirates  24.0000   54.0000
14                     NaN           Philippines  13.0000  122.0000
15                     NaN                 India  21.0000   78.0000
16                     NaN                 Italy  43.0000   12.0000
17                     NaN                Sweden  63.0000   16.0000
18                     NaN                 Spain  40.0000   -4.0000
19         South Australia             Australia -34.9285  138.6007
20                     NaN               Belgium  50.8333    4.0000
21                     NaN                 Egypt  26.0000   30.0000
22   From Diamond Princess             Australia  35.4437  139.6380
23                     NaN               Lebanon  33.8547   35.8623
24                     NaN                  Iraq  33.0000   44.0000
25                     NaN                  Oman  21.0000   57.0000
26                     NaN           Afghanistan  33.0000   65.0000
27                     NaN               Bahrain  26.0275   50.5500
28                     NaN                Kuwait  29.5000   47.7500
29                     NaN               Algeria  28.0339    1.6596
..                     ...                   ...      ...       ...
374               Polk, OR                    US  44.9267 -123.4919
375          Deschutes, OR                    US  43.8325 -121.2617
376            McHenry, IL                    US  42.3334  -88.2668
377               Lake, IL                    US  42.3689  -87.8272
378              Bucks, PA                    US  40.4108  -75.2479
379            Hanover, VA                    US  37.7772  -77.5161
380          Lancaster, SC                    US  34.7253  -80.6771
381           Sullivan, TN                    US  36.4933  -82.3452
382            Johnson, IN                    US  39.4638  -86.1345
383             Howard, IN                    US  40.4483  -86.1345
384         St. Joseph, IN                    US  41.6228  -86.3377
385               Knox, NE                    US  42.6712  -97.8722
386              Stark, OH                    US  40.8685  -81.2519
387              Anoka, MN                    US  45.3293  -93.2197
388            Olmsted, MN                    US  43.9952  -92.3814
389             Summit, UT                    US  40.8298 -110.9984
390          Fairfield, CT                    US  41.2560  -73.3709
391         Litchfield, CT                    US  41.7866  -73.2765
392            Orleans, LA                    US  29.9511  -90.0715
393         Pennington, SD                    US  43.8901 -102.2548
394             Beadle, SD                    US  44.4797  -98.2213
395        Charles Mix, SD                    US  43.0985  -98.3965
396            Davison, SD                    US  43.7242  -98.2213
397          Minnehaha, SD                    US  43.6632  -96.8351
398          Bon Homme, SD                    US  42.9815  -97.8722
399            Socorro, NM                    US  33.8837 -106.7235
400         Bernalillo, NM                    US  35.0178 -106.6291
401            Oakland, MI                    US  42.5922  -83.3362
402              Wayne, MI                    US  42.2791  -83.3362
403         New Castle, DE                    US  39.5393  -75.6674

[404 rows x 4 columns]